<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
</head>
<body>
    <div class="mastercontainer">
        <div class="container">
            <h1>Thank you for your business!</h1>
        </div>
        <h2>We charged your card for ${{ items[0]id }}.</h2>
    </div>
        <h2>You have ordered _____ items so far and spent $_______ with Amadon.com!</h2>
        <a href='/'>Go Back</a>
</body>
</html>