<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
    <title>Adventure Game</title>
</head>
<body>
    <h1>Adventure Game: Make it to Plank!</h1>
    <h2>Choose your mode of transportation</h2>
    <button><a href="http://localhost:5000/drive">Drive</a></button>
    <button><a href="http://localhost:5000/bart">BART</a></button>
</body>
</html>