<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <style>
        .container{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Counter</h1>
    <h1>Visits:</h1>
    <h3>{{ total_visits }}</h3>
    <a href='/delete-visits'><button>Delete Total Visits</button></a>
    </div>
</body>
</html>