<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" ref="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Coding Dojo Wall</title>
</head>

<body>
    <div class="mastercontainer">
        <nav class="navbar navbar-light bg-primary">
            <a class="navbar-brand">Coding Dojo Wall</a>
            <form class="form-inline">
                <p>Hey, {{ session['id'] }} !</p>
                <a href='/' class="btn btn-success">log out</a>
            </form>
        </nav>
        <div class="container_left">
                <h1>Message(s) for You</h1>
                <div class="col-6">


                    {% for content in messages %}

                    <div class="row">
                        <div class="col-8 message">From: (Blank) {{ sender_id }}
                            <class="form-control col- 2 mb-2>
                                {{ content.content }}
                                <input type="hidden" value="" name="recipient_id">

                        </div>

                        <div class="col-4"><input type=submit class="btn btn-danger" value="delete"></div>
                    </div>
                    {% endfor %}

                </div>
            
        </div>
        <div class="container_right">
            
            <h1>Send Messages</h1>
            <div class="col-6">


                {% for user in users %}
                <form method="POST" action='/sendmessage'>
                    <div class="row">
                        <div class="col-8 message">{{user['first_name']}}
                            <input type="text" class="form-control col- 2 mb-2" placeholder="message" name="message">
                            <input type="hidden" value="{{user['id']}}" name="recipient_id">
                        </div>

                        <div class="col-4"><input type=submit class="btn btn-success" value="submit"></div>

                    </div>
                </form>
                {% endfor %}

            </div>
        </div>
        <div class="footer">
            <h6>"Licensed by Coding Dojo 2019"</h6>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>

</html>